<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i> الصفحه الرئيسيه</a>
          <span>تسجيل الدخول </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="login-form">
          <h2>تسجيل الدخول </h2>
          <div></div>
          <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
            {{errorMsg}}
          </div>
          <form #loginForm="ngForm" (ngSubmit)="login()">

            <div class="group-input">
              <label>أسم المستخدم *</label>
              <input name="userName" type="text" [(ngModel)]="model.userName">
            </div>

            <div class="group-input">
              <label>الرقم السري *</label>
              <input  name="password" type="password" [(ngModel)]="model.password">
            </div>
            <div class="group-input gi-check">
              <div class="gi-more">
                <label for="save-pass">
                  حفظ كلمه السر
                  <input type="checkbox" id="save-pass">
                  <span class="checkmark"></span>
                </label>
                <a href="#" class="forget-pass">هل نسيت كلمه المرور</a>
              </div>
            </div>
            <button type="submit" class="site-btn login-btn">تسجيل</button>
          </form>
          <div class="switch-login">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="or-login">إنشاء حساب جديد</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Form Section End -->
