<!-- Contact Section Begin -->
<section class="contact-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" style="    margin-top: 7% !important;">
        <div class="contact-title">

          <div class="proceed-checkout ">
            <ul class="myborder">
              <li class="subtotal" style="    margin-bottom: 10%; ">رقم الطلب : <span>Preparing</span></li>
              <li class="subtotal" style="    margin-bottom: 10%;">تاريخ الطلب : <span>{{order.orderDate}}</span></li>
              <li class="subtotal" style="    margin-bottom: 10%;">البريد الإلكتروني : <span> {{ authService.currentUser?.email || authService.decodedToken?.unique_name | titlecase }}</span></li>
              <li class="subtotal" style="    margin-bottom: 10%;"> نوع الطلب : <span>قطاعي</span></li>
            </ul>
          </div>


          <div class="proceed-checkout ">
            <h4 class="text" style="margin-left: 45%;font-size: 35px !important; margin-top: 7%;"> بيانات العميل
            </h4>
            <ul class="myborder" >
              <li class="subtotal" style="    margin-bottom: 10%; ">  <span>{{order.address}}</span></li>
              <li class="subtotal" style="    margin-bottom: 10%;">  <span>{{order.city}}</span></li>
              <li class="subtotal" style="    margin-bottom: 10%;">   <span>{{order.clientName}}</span></li>
              <li class="subtotal" style="    margin-bottom: 10%;">   <span>{{order.phone}}</span></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <div class="contact-form">
          <div class="leave-comment">
            <h4 class="text" style="margin-left: 45%;font-size: 35px !important;">تفاصيل الطلب
            </h4>

          <div class="proceed-checkout ">


              <ul  class="myborder"  style="background-color: #ffffff !important; margin-bottom:5%">
                           <span class="mytitle" style="margin-left:47%"> الطلبات
                  </span>
                <li *ngFor="let item of order.orderDetail" class="subtotal" style="font-size: 22px !important;  border-bottom: 1px solid #644d12 !important">
                 {{item.totalOptionPrice}} EGP <span>  {{item.option.availableOptions}} - {{item.option.product.productName}}</span>

                   </li>
              </ul>
            </div>
            <div class="contact-widget">
              <div class="cw-item">

                <div style="text-align: right; margin-left: 71%;" class="ci-text">

                  <span class="mytitle">: سعر الشحن
                  </span>

                </div>

          <div  style="text-align: right; margin-right: 70%;" class="ci-text" >
               
          </div>
          <div  style="text-align: right; margin-right: 70%;" class="ci-text" >
            <p>{{order.shippingProfits}} EGP</p>
        </div>

              </div>
            </div>
            <div class="contact-widget">
              <div class="cw-item">

                <div style="text-align: right; margin-left: 70%;" class="ci-text">


                  <span class="mytitle">: عمولة تاجرلى</span>

                </div>

                <div  style="text-align: right; margin-right: 70%;" class="ci-text" >
                  <p>{{order.siteProfits}} EGP</p>
              </div>

              </div>
            </div>
            <div class="contact-widget">
              <div class="cw-item">
                <div style="text-align: right;     margin-left: 76%;" class="ci-text">
                  <span class="mytitle">: الإجمالي</span>

                 </div>

                 <div  style="text-align: right; margin-right: 70%;" class="ci-text" >
                  <p>{{total}} EGP</p>
              </div>


              </div>
            </div>
            <div class="proceed-checkout ">
              <ul class="myborder"  style=" background-color: #e7ab3c !important">
                <li class="subtotal" style="font-size: 22px !important;"> سعر التحصيل من العميل: <span>{{order.dealPrice}} EGP</span></li>
              </ul>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</section>