<div dir="rtl" class="m-5" *ngIf="orders.length != 0">
    <div class="card">
    <p-table #dt [value]="orders" [rows]="10" [loading]="loading" [paginator]="true" [rowHover]="true">

        <ng-template pTemplate="caption">
            <div class="table-header d-flex justify-content-between px-2">
                قائمة الطلبات
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث عام" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr style="font-weight: bolder; border-bottom: 1.5px solid#dee2e6;">
                <td class="py-3" [pSortableColumn]="col.field" *ngFor="let col of cols">
                    <div class="text-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter type="text" [field]="col.field" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                    
                </td>
            </tr>
        </ng-template>
        <ng-template let-i="rowIndex" pTemplate="body" let-order>
            <tr class="p-selectable-row" [id]="i" [ngStyle]="i<countToMark ?{'background': '#11d00421'}:{'background': 'transparent'}">
                <td class="py-4" *ngFor="let col of cols" style="text-align: center;">

                    <div *ngIf="col.field != 'orderDate'">
                        {{order[col.field]}}
                    </div> 
                        
                    <div *ngIf="col.field == 'orderDate'">
                        {{order[col.field] | date:'shortDate'}}
                    </div>

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>

<div *ngIf="orders.length == 0" class="p-5 d-flex align-items-center justify-content-center">
    <p class="p-5 m-5" style="font-size: xx-large; font-weight: bold;">there are no orders yet</p>
</div>


