<div class="container" style="font-family:'Segoe UI';">
<div class="py-2 mx-2 my-2" >
    <table class="table table-striped my-3 mx-3 py-2 " style="direction: rtl; text-align: right;">
    <thead>
        <h3 class="text-center mb-5" style="font-size:xx-large; font-weight: bolder; color:#e7ab3c;"> تفاصيل المستخدم</h3>
      <tr>
        <!-- <th scope="col">id</th> -->
        <th scope="col"> اسم المستخدم</th>
        <th scope="col">الاسم الاول</th>
        <th scope="col">الاسم الاخير</th>
        <th scope="col">البريد الإلكترونى</th>
        <th scope="col">العنوان</th>
        <th scope="col">رقم الموبايل</th>
        <!-- <th scope="col">الوظيفه</th> -->

      
        
      </tr>
    </thead>
    <tbody>
  
      <tr>
       <!-- <td>{{this.nstd.id}}</td>  -->
       <td>{{this.nstd.userName}}</td>
       <td>{{this.nstd.firstName}}</td>
       <td>{{this.nstd.lastName}}</td>
       <td>{{this.nstd.email}}</td>
       <td>{{this.nstd.address}}</td>
       <td>{{this.nstd.phoneNumber}}</td>
       <!-- <td>{{this.nstd.roleName}}</td> -->
         

      </tr>
    </tbody>
  </table>
</div>
<br>
<hr>
<div class="py-2 mx-2 my-2" >
    <table class="table table-striped my-3 mx-3 py-2 " style="direction: rtl; text-align: right;">
        <thead>
            <h3 class="text-center mb-5" style="font-size:xx-large; font-weight: bolder; color:#e7ab3c;"> بيانات الفيزا</h3>
          <tr>
            <!-- <th scope="col">id</th> -->
            <th scope="col"> اسم العميل</th>
            <th scope="col">اسم البنك</th>
            <th scope="col">رقم الحساب</th>
            <th scope="col">الفرع</th>
            <th scope="col">رقم البطاقه</th>
            <th scope="col">الاسم كما في البطاقه</th> 
            <th scope="col">رقم الموبايل</th>
            <th scope="col">رقم المحفظه</th>
    
            
            
          </tr>
        </thead>
        <tbody>
  
          <tr>
            <!-- <td>{{this.visaObj.id}}</td>   -->
            <td>{{this.visaObj.clientName}}</td>
            <td>{{this.visaObj.bankName}}</td>
            <td>{{this.visaObj.accountNumber}}</td>
            <td>{{this.visaObj.section}}</td>
            <td>{{this.visaObj.cardNumber}}</td>
            <td>{{this.visaObj.cardName}}</td>
            <td>{{this.visaObj.phoneNumber}}</td>
            <td>{{this.visaObj.walletNumber}}</td>


          </tr>
        </tbody>
      </table></div>
    </div>
