<div class="card" style="width: 18rem;">
    <img class="cardImg" [src]="product.images[0]" style="height: 200px; object-fit: cover;"  alt="card">
    <i class="pi pi-heart p-mr-4 p-text-secondary p-2" style="font-size: 1rem"></i>
    <div class="card-body">

        <h5 class="card-title"> {{product.productName}}</h5>


        <p class="card-text"> المخزون: {{product.stockIn}} قطعة</p>
        <p class="card-text2">{{product.price}} جنيه</p>

        <div class="text-center">
            <button *ngIf="product.options.length != 1" (click)="showOptionsDialog()" class="btn px-4">عرض الاختيارات</button>
            <div *ngIf="product.options.length == 1" class="row w-100">
                <div class="col-8">
                    <button style="width: 135px;" #addBtn [disabled]="(quantity>0)==false" (click)="addToCart()" class="btn px-2">أضف إلى السلة</button>
                </div>
                <div class="col-4">
                    <td><input [(ngModel)]="quantity" placeholder="الكمية" type="number" style="width:70px; height: 35px;" min="1" value="1"></td>
                </div>
            </div>
        </div>

  </div>
</div>
