
<div class="container w-75 my-4" style="font-family:'Segoe UI';">
  <div class="text-center my-4" style="font-size:xx-large; font-weight: bolder; color:#e7ab3c;">
    إضافة فئـــــة جديـــدة
  </div>
</div>

<div class="row container">
  <div class="col-3">

  </div>
  <div class="col-6  container w-75 mx-auto" style="direction: rtl; text-align: right;">
     <label  for="catnName" class="form-label">اسم الفئـــة</label>
     <input  [(ngModel)]="nCategory.categoryName" type="text" class="form-control" id="catnName">
     <button (click)="Create()" type="button" class="btn my-4 px-5 text-white" style="background-color:#e7ab3c;">إضافة</button>
     <button (click)="Cancle()" type="button" class="btn mr-5 px-5 btn-outline-dark  " >إلغاء </button>
  </div>
</div>




