<!-- Footer Section Begin -->
<footer class="footer-section"style="direction: rtl; text-align: right;">
    <div class="container">
        <div class="row">
          <div class="col-lg-4" >
              <div class="footer-widget">
                  <h5>  سوقلي  <i class="fa fa-shopping-cart" aria-hidden="true"></i> </h5>
                  <ul>
                      <li style="color: whitesmoke;">
                          سوقلي اول منصة دروبشيبنج مصرية تجمع بين أكبر عدد من الموردين والمسوقين. بتساعدك تبيع أون لاين وتحقق
                          أرباح بتوصل لأكتر من 6000 جنيه شهريًا وأنت في مكانك من غير ما يكون عندك بضاعة أومخزن أو تعامل مباشر
                          مع شركات الشحن ولا حتي هتشيل هم تحصيل فلوسك.</li>
                     
                  </ul>
              </div>
          </div>
            <div class="col-lg-4">
                <div class="footer-left">
                    <div class="footer-widget">
                      <h5>تواصل معنا </h5>
                    </div>
                    <ul>
                        <li>العنوان:اسكندريه -سيدي جابر -بحر</li>
                        <li>رقم الموبايل:015 248 549 1 </li>
                        <li>البريد الاكتروني: suaqlyRat@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="footer-widget">
                    <h5>معلومات </h5>
                    <ul>
                        <li><a href="/">الرئيسيه</a></li>
                        <li><a href="/login">تسجيل الدحول</a></li>
                        <li><a href="/register">تسجيل حساب جديد</a></li>
                        
                    </ul>
                </div>
            </div>
           
           
            </div>
      
      
    </div>
    <section class="">
      <!-- Footer -->
    
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: CTA -->
          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3 mx-4">سجل معنا الان مجانا</span>
              <button type="button"  [routerLink]="['/login']" class="btn btn-outline-light btn-rounded">
                  تسجيل حساب جديد
              </button>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
      
          <div class="text-center p-3" style="background-image: linear-gradient(to top right,  #e7ab3c, rgba(10, 0, 6, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
      ">
          2021 Copyright © :
          <a class="text-white" href="https://mdbootstrap.com/">suaqly.com</a>
        </div>
        <!-- Copyright -->
     
      <!-- Footer -->
    </section>
</footer>
<!-- Footer Section End -->