 <div class="container w-75 my-4" style="font-family:'Segoe UI';">
  <div class="text-center my-4" style="font-size:xx-large; font-weight: bolder; color:#e7ab3c;">
    كـــــل الفئـــــات
  </div>
</div>
<div class="card">
  <p-table [columns]="cols" [value]="allCategories" [paginator]="true"  [rows]="5" (sortFunction)="customSort($event)" [customSort]="true">

    <ng-template pTemplate="header" let-columns>
        <tr >
          <th style="text-align: center;"> عمليات </th>
          <th style="text-align: center;" *ngFor="let col of columns" [pSortableColumn]="col.field" >
            {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th style="text-align: center;"> م </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category  let-rowIndex="rowIndex" let-rowData let-columns="columns">
        <tr>
          <td style="text-align: center;">
            <button [routerLink]="['/editcategory',category.id]" class="btn btn-link mr-3 px-5 btn-sm" >تعديــل</button>
          </td>
          <td style="text-align: center;" *ngFor="let col of columns">
            {{rowData[col.field]}}

          </td>
          <td style="text-align: center;">
                {{rowIndex+1}}
          </td>
        </tr>
    </ng-template>
  </p-table>
  <div  class="my-4"  style="text-align: center;">
    <button (click)="Back()" type="button" class="btn btn-outline-dark mr-5 px-5 " >رجـــــوع</button>
    <button [routerLink]="['/managecategory/addcategory']" type="button" class="btn px-5 text-white" style="background-color:#e7ab3c;">إضافة فئـــــة</button>
  </div>
  <router-outlet>

  </router-outlet>
  </div>

 <!-- <p-table [value]="allCategories"  dataKey="id" editMode="row" [paginator]="true"  [rows]="5">
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>

          <th style="width:8rem"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="category">
          <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="category.categoryName">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{category.categoryName}}
                  </ng-template>
              </p-cellEditor>
          </td>

          <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(category)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(category)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
          </td>
      </tr>
  </ng-template>
</p-table> -->


