<div dir="rtl" class="p-5 d-flex align-items-center justify-content-center container">
    <div class="row">  

        <div class="col text-center py-5 px-3 mx-2" style="background-image: linear-gradient(to bottom, #e7e7e773, #cececea3); border-radius: 40px;"> <!--expected profits-->           
            <h3 style="color: rgb(133, 65, 127);">{{profitsData.expectedProfits}} جنيه</h3>
            <h5 style="color: rgb(133, 65, 127);">الأرباح المحتملة</h5>
            <p class="px-3">
                أرباح الأوردرات المحتمل توصيلها باستثناء الأوردرات الملغاة والمرفوضة من العملاء
            </p>        
        </div>

        <div class="col text-center py-5 px-3 mx-2" style="background-image: linear-gradient(to bottom, #25d25f24, #048f3340); border-radius: 40px;"> <!--withdrawn profits-->
            <h3 style="color: rgb(63, 122, 83);">{{profitsData.availableProfits}} جنيه</h3>
            <h5 style="color: rgb(63, 122, 83);">أرباح يمكن سحبها</h5>
            <p class="px-3">
                أرباح الأوردرات التى مرّ 24 ساعة من تاريخ تسليمها للعملاء بنجاح
            </p>    
        </div>

        <div class="col text-center py-5 px-3 mx-2" style="background-color: #ffefe5; border-radius: 40px;"> <!--total profits-->
            <h3 style="color: #e7ab3c;">{{profitsData.totalProfits}} جنيه</h3>
            <h5 style="color: #e7ab3c;">إجمالى أرباحك مع سوقلي منذ البداية</h5>
             
        </div>
    </div>
    
</div>

<div dir="rtl" class="py-5 d-flex align-items-center justify-content-center container">
    <div class="row w-50">     
           
        <input class="mx-2 col-8" type="number" [max]="profitsData.availableProfits" min="0" pInputText placeholder="المبلغ المراد سحبه"> 

        <button class="btn btn-info mx-2 col-3">إرسال طلب</button>   
        
    </div>
</div>