<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
  <div class="container">
    <form (ngSubmit)="makeOrder()" [formGroup]="myForm" class="checkout-form">
      <div class="row">
        <div class="col-lg-4">
          <!-- <div class="checkout-content">
            <input type="text" placeholder="Enter Your Coupon Code">
          </div> -->
          <div class="place-order">
            <h4 class="text" style="color: #e7ab3c;margin-left: 40%;">الفاتورة</h4>
            <div class="order-total">
              <ul class="order-table">
                <li>Product <span>Total</span></li>
                <li class="fw-normal">سعر المنتجات
                  <span>{{total}} EGP</span>
                </li>
                <li class="fw-normal">سعر الشحن
                  <!-- <span formControlName="shippingProfits" name="shippingProfits"> {{someProperty}} EGP</span> -->
                  <!-- <input readonly formControlName="shippingProfits" name="shippingProfits" class="form-control" > -->
                  <span>EGP</span>
                  <input style="color: black !important;" class="myinput" readonly  type="text" [value]="someProperty" />
                  <input style="display: none;" type="number"  formControlName="shippingProfits"  [ngModel]="someProperty"/>
                </li>
                <li class="fw-normal">عمولة سوقلي

                  <!-- <span  #m [innerHTML]='myDealPrice.value * 10/100'></span> -->
                  <span>EGP</span>

                    <input readonly style="color: black !important;" class="myinput" [value]="Updateprice * 10/100 "/>
                    <input style="display: none;" type="number"  formControlName="siteProfits"  [ngModel]="Updateprice * 10/100 "/>


                </li>
                <li class="fw-normal">سعر التحصيل من العميل

                  <span> {{Updateprice}} EGP</span>

                </li>
                <li class="total-price">الإجمالى

                  <span>{{ totalPrices + (Updateprice * 10/100) + someProperty}} EGP</span>
                </li>
                <li class="total-price">اجمالى الربح

                  <!-- <span formControlName="marketingProfits" name="marketingProfits">{{ Updateprice -(totalPrices +
                    (Updateprice * 10/100) + someProperty) }} EGP</span> -->
                    <span>EGP</span>
                    <input class="myinput" readonly   type="text"   [value]="Updateprice - (totalPrices +  (Updateprice * 10/100) + someProperty) "/>
                    <input style="display: none;" type="number"  formControlName="marketingProfits"  [ngModel]="Updateprice -(totalPrices +  (Updateprice * 10/100) + someProperty) "/>


                </li>
              </ul>
              <!-- <div class="payment-check">
                <div class="pc-item">
                  <label for="pc-check">
                    Cheque Payment
                    <input type="checkbox" id="pc-check">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="pc-item">
                  <label for="pc-paypal">
                    Paypal
                    <input type="checkbox" id="pc-paypal">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div> -->
              <div class="order-btn">
                <button [disabled]="myForm.invalid" type="submit"  class="btn btn-primary btn-jittery"> إكمال الطلب</button>

              </div>
            </div>
          </div>
          <!-- <div class="checkout-content">
                <a href="#" class="content-btn">Click Here To Login</a>
            </div> -->
        </div>

        <div class="col-lg-8">
          <!-- Shopping Cart Section Begin -->
          <section class="shopping-cart spad">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <!-- Table  -->
                  <div class="cart-table">
                    <table id="tb1" >
                      <thead>
                        <tr>
                          <th>صورة المنتج</th>
                          <th style="text-align: center !important;" class="p-name">اسم المنتج </th>
                          <th>سعر المنتج </th>
                          <th>الكمية</th>
                          <th>المخزون </th>
                          <!-- <th><i class="ti-close"></i></th> -->
                          <th>
                            <input type="checkbox" class="ckheader" (change)="seletAll()"   >
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of options">
                          <td class="cart-pic first-row"><img class="cardImg" [src]="item.option.product.images[0].url"alt="" ></td>
                          <td style="text-align: center !important;" class="cart-title first-row">
                            <h5>{{item.option.availableOptions}} - {{item.option.product.productName}}</h5>
                          </td>
                          <td class="p-price first-row">{{item.option.itemPrice}}</td>
                          <td class="qua-col first-row">
                            <div class="quantity">
                              <div>
                                <input #myInput type="number" min="1"
                                  (change)="updateQuantity(item.optionId,myInput.value)" class="form-control"
                                  value={{item.quantity}} style="margin-top: 22%;">
                              </div>


                            </div>
                          </td>
                          <td class="total-price first-row">{{item.option.stockIn}}</td>
                        <!-- <td class="close-td first-row"><i class="ti-close"></i></td> -->
                          <td class="centered"> <input  style="text-align:center;" ng-model="x.dedbuffer" type="checkbox" class="ckitem" value="{{item.id}}" (change)="seletAll()"  > </td>

                       

                        </tr>

                     
                      </tbody>
                    </table>
                  </div>

  <!-- model to confirm delete -->
           <!-- Button trigger modal -->
          
<button dir="rtl" type="button"  class="btn btn-danger" (click)="DeleteCount()" [disabled]="!IsDelete()" data-toggle="modal" data-target="#exampleModal">
  حذف المنتجات المختاره
</button>

<!-- Modal -->
<div dir="rtl" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">تنبيه حذف</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      لقد قمت باختيار عدد  {{num}}  عناصر للحذف..هل تريد الحذف فعلا 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="DeleteConfirm()"  > تاكيد الحذف </button>
      </div>
    </div>
  </div>
</div>
      <!-- end of model to confirm delete -->



                  <div class="discount-coupon">
                    <h6 class="text" style="text-align: right; margin-left: 30%;">حساب سعر الشحن للطلب </h6>

                      <div>
                        <div class="proceed-checkout" style="   width: 100% !important;    ">
                          <ul>
                            <li class="subtotal"> اختار المدينه المراد الشحن اليها
                              <span>
                                <div class="select-dropdown">
                                  <!-- <select #myOption (change)="UpdatePrice(myOption.value)">
                                    <option *ngFor="let ship of shipping" value="{{ship.price}}">{{ship.city}}
                                    </option>
                                  </select> -->
                                  <!-- <select name="someProperty" [(ngModel)]="someProperty">
                                    <option  *ngFor="let ship of shipping" [ngValue]="ship.id"> {{ship.city}}
                                    </option>
                                  </select> -->


                                  <select formControlName="shippingId" name="someProperty"
                                    (ngModelChange)="modelChangeFn($event)">
                                    <option *ngFor="let ship of shipping" [ngValue]="ship.id"> {{ship.city}}
                                    </option>
                                  </select>

                                </div>
                                {{city}}
                              </span>
                            </li>
                            <li class="cart-total">سعر الشحن
                              <span [innerHTML]='someProperty'></span>

                            </li>
                          </ul>
                        </div>
                      </div>
                      <!--
                      <input type="text" placeholder="Enter your codes">
                      <button type="submit" class="site-btn coupon-btn">Apply</button> -->

                    <h6 class="text" style="text-align: right;margin-left: 30%;">حساب ربحك من الطلب </h6>

                      <div>
                        <div class="proceed-checkout">
                          <ul>
                            <li class="subtotal">ادخل المبلغ المراد تحصيله من عميلك <span>

                                <!-- <input style="font-size: 23px !important;" #myDealPrice
                                  (change)="UpdateDealPrice(myDealPrice.value)" type="number"> -->

                                <input formControlName="dealPrice" name="dealPrice" [(ngModel)]="Updateprice"
                                  type="number">

                              </span></li>
                            <li class="cart-total">ربحك فى هذه الحالة
                              <span>{{ Updateprice -(totalPrices + (Updateprice * 10/100) + someProperty) }} EGP</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!--
                      <input type="text" placeholder="Enter your codes">
                      <button type="submit" class="site-btn coupon-btn">Apply</button>
                      -->

                  </div>

                  <h4 class="text" style="text-align: right !important; font-size: 30px;">بيانات العميل
                  </h4>
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="fir">الاسم <span>*</span></label>
                      <input formControlName="clientName" name="clientName" type="text">
                    </div>
                    <div class="col-lg-6">
                      <label for="phone"> رقم الهاتف
                        <span>*</span></label>
                      <input formControlName="phone" name="phone" type="number" maxlength="11">

                    </div>
                    <div class="col-lg-12">
                      <label for="cun-name">العنوان </label>
                      <input formControlName="address" name="address" type="text" id="cun-name">
                    </div>

                  </div>
                  <!-- <div class="cart-buttons">
                        <a href="#" class="primary-btn continue-shop">Continue shopping</a>
                        <a href="#" class="primary-btn up-cart">Update cart</a>
                      </div> -->

                </div>
              </div>
            </div>
          </section>
          <!-- Shopping Cart Section End -->
        </div>

      </div>
      <!-- <button type="submit" class="btn btn-primary btn-jittery">
        إكمال الطلب
      </button> -->

    </form>
  </div>
</section>