
/*  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800%7CRaleway:100,200,300,400,600,700,800,900%7CMontserrat:100,200,300,400,500,600,700,800,900");
.box-shadow {
  box-shadow: 0px 0px 18px -3px rgba(143, 143, 143, 0.5);
}

.card:hover {
  box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, 0.75);
}

.box-shadow-dark {
  box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, 0.25);
}






.display-1, .display-2, .display-3, .display-4 {
  font-weight: 900;
}

.heading-big {
  font-weight: 800;
  text-transform: uppercase;
  color: red;
  margin: 0;
  padding: 0.15rem 0;
  line-height: 1.2;
  font-size: 2rem;
  transition: color 0.5s ease-in, border-color 0.5s ease-in-out;
}
.heading-big-square {
  padding: 1rem 1rem;
  border: 10px solid red;
  margin: 0.5rem auto 1rem auto;
}
.heading-big:hover {
  color: #ff9900;
  border-color: #ff9900;
}

.card {
  transition: 0.5s ease;
  border-radius: 0;
  transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);
}
.card-header {
  border-radius: 0;
}
.card-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card-header, .card-footer {
  transition: 0.5s ease;
}
.card:hover {
  border-color: #e7ab3c;
  transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.card:hover .card-header, .card:hover .card-footer {
  color: #ba8b00;
  border-color: #e7ab3c;
  background-color: #ffeeba;
}
.card:hover .promotion-promo {
  transform: scale(1.175) translateY(2.5px);
  transform-origin: left center;
}
.card:hover .promotion-price {
  transform: translate(2.5px, 17.5px) scale(1.15);
  transform-origin: center right;
}
.card-body {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.card .btn {
  font-weight: bold;
  text-transform: uppercase;
}

.promotion-promo {
  font-weight: 700;
  font-size: 1.15rem;
  color: #e7ab3c;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
  transition: 0.25s linear;
}
.promotion-price {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e7ab3c;
  width: 92px;
  height: 92px;
  padding-bottom: 0rem;
  padding-top: 1.25rem;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  border-radius: 5rem;
  color: #fff;
  z-index: -1;
  transform: translate(5px, 27.5px) rotate(-9deg);
  border: 1px dashed #fff;
  transition: 0.25s linear;
  line-height: 1.15;
}
.promotion-price-desc {
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: block;
}
.promotion-price-text {
  padding: 0;
  margin: 0 auto;
  font-weight: 900;
}

.card-animate {
  counter-reset: section;
}
.card-animate .card-body:before {
  transition: 0.5s ease;
  counter-increment: section;
  content: "" counter(section) "";
  display: block;
  font-size: 15rem;
  font-weight: 900;
  position: absolute;
  bottom: 5rem;
  line-height: 0;
  left: -0.85rem;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.card-animate .card:hover .card-body:before {
  transform: translate(10px, -10px);
}
.card-animate .card-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-animate .card-title {
  font-weight: 900;
  text-transform: uppercase;
}

.artboard {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  height: 100%;
  position: relative;
}
@media (max-width: 37.5em) {
  .artboard {
    padding: 1rem;
  }
}

.card {
  flex: initial;
  position: relative;
  height: 12rem;
  width: 18rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
}
.card__side {
  height: 22rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  border-radius: 3px;
  overflow: hidden;
  /* The image is overflowing the parent. */
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-image: linear-gradient(to right bottom, rgba(10, 0, 6, 0.65), #e7ab3c), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__side--back {
  background-color: #fff;
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}
.card__theme-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__subject {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.card__title {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 1rem;

  font-weight: 100;
}
.card__cover {
  position: relative;
  background-size: cover;
  height: 14rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(10, 0, 6, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__heading {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.card__heading-span {
  font-family: "VT323", monospace;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
}
.card__details {
  font-family: "Inconsolata", monospace;
  padding: 4rem 2rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 3rem 2rem;
  }
  .card__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
  }
  .card__theme-box {
    margin-bottom: 1.5rem;
  }
  .card__title {
    font-size: 1rem;
  }
}
/*  */
.text{
  font-family: 'Almarai', sans-serif !important;
  font-size: 62px !important ;
  padding-bottom: 6%;

}
.text2{
  font-family: 'Almarai', sans-serif !important;

}
.btn-cross {
  transform: rotate(0);
  padding: 13px 40px 11px;
  background: #000000;
  border-color: #000000;
}
.btn-cross::before, .btn-cross::after {
  position: absolute;
  content: "";

  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  background: var(--btn-bg);
  transform: scaleX(0);
  transition: 0.3s;
}
.btn-cross::before {
  top: 0;
  transform-origin: left;
}
.btn-cross::after {
  top: 50%;
  transform-origin: right;
}
.btn-cross:hover {


  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  color: #ffffff;
  background: #e7ab3c;
  text-transform: uppercase;
  outline: none;
}
.btn-cross:hover::before, .btn-cross:hover::after {
  transform: scaleX(1);
}
.btn-cross:hover::before {
  transform-origin: right;
}
.btn-cross:hover::after {
  transform-origin: left;
}
/*  */

.btn-jittery {
  /* -webkit-animation: jittery 4s infinite;
          animation: jittery 4s infinite; */
          padding: 13px 40px 11px;
          background: #000000;
          border-color: #000000;
          margin-left: 6%;
          color: white;

}
.btn-jittery1 {
  /* -webkit-animation: jittery 4s infinite;
          animation: jittery 4s infinite; */
          padding: 13px 40px 11px;
          background: #e7ab3c;
          border-color: #e7ab3c;
          color: white;


}
@-webkit-keyframes jittery {
  5%, 50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes jittery {
  5%, 50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
/*  */

.service-24 {
  font-family: "Graphik", sans-serif;

  color: #8d97ad;
  font-weight: 300;
  margin-top: 10px;

}

.service-24 h1,
.service-24 h2,
.service-24 h3,
.service-24 h4,
.service-24 h5,
.service-24 h6 {
  color: #3e4555;
}

.service-24 .card.card-shadow {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(23, 24, 26, 0.5);
  box-shadow: 5px 5px 5px rgba(25, 25, 26, 0.5);
  height: 100%;
  width: 100%;
}

.service-24 .card.card-shadow:hover {
 box-shadow: 5px 5px 5px 5px rgba(14, 17, 17, 0.5);
}

.service-24 a {
  text-decoration: none;
}



.service-24 .card-hover:hover .bg-success-grediant {
  color: #e7ab3c;
  -webkit-text-fill-color: #e7ab3c;
}

.service-24 .card-hover:hover .ser-title {
  color: #e7ab3c;
}

.service-24 .bg-success-grediant {

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e7ab3c),
    to(#e7ab3c)
  );
  background: -webkit-linear-gradient(left, #e7ab3c 0%, #e7ab3c 100%);
  background: -o-linear-gradient(left,#e7ab3c 0%, #e7ab3c 100%);
  background: linear-gradient(to right, #e7ab3c 0%, #e7ab3c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.service-24 .wrap-service-24 .card {
  -o-transition: 0.3s ease-out !important;
  transition: 0.3s ease-out !important;
  -webkit-transition: 0.3s ease-out !important;
}

.service-24 .wrap-service-24 .card:hover {
  -ms-transform: translateY(-10px) !important;
  transform: translateY(-10px) !important;
  -webkit-transform: translateY(-10px) !important;

}

.service-24 .btn-outline-success {
  color: #000000 !important;
  background-color: transparent;
  border-color: #e7ab3c;
}

.service-24 .btn-outline-success:hover {
  background: #e7ab3c;
  border-color: #e7ab3c;
  color: #ffffff !important;
}


