<section class="hero-section">
  <div class="hero-items owl-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div class="owl-stage"
        style="transform: translate3d(-4557px, 0px, 0px); transition: all 0s ease 0s; width: 9116px;">
        <div class="owl-item cloned" style="width: 1519.2px;">
        </div>
        <div class="owl-item cloned" style="width: 1519.2px;">
        </div>
        <div class="owl-item" style="width: 1519.2px;">
        </div>
        <div class="owl-item animated owl-animated-in fadeIn active" style="width: 1519.2px;">
          <div class="single-hero-items set-bg" style="background-image: url(&quot;assets/img/time-bg.jpg&quot;);">
            <div class="container">
              <div class="row text-right">
                <div class="col-lg-5">
                  <span style="direction: rtl !important; font-size: large;">
                    سوقلي اول منصة دروبشيبنج مصرية تجمع بين أكبر عدد من الموردين والمسوقين. بتساعدك تبيع أون لاين وتحقق
                    أرباح بتوصل لأكتر من 6000 جنيه شهريًا وأنت في مكانك من غير ما يكون عندك بضاعة أومخزن أو تعامل مباشر
                    مع شركات الشحن ولا حتي هتشيل هم تحصيل فلوسك.

                  </span>
                  <h1 class="text">سوقلي ماركتينج</h1>
                  <p>
                    أول وأكبر منصة دروبشيبنج فى مصر وقريبا فى الوطن العربي

                  </p>
                  <button [routerLink]="['/login']" *ngIf="!loggedIn()" class="btn btn-primary btn-jittery1">
                    تسجيل دخول
                  </button>
                  <button [routerLink]="['/register']" *ngIf="!loggedIn()" class="btn btn-primary btn-jittery">
                    تسجيل حساب جديد
                  </button>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="owl-item cloned" style="width: 1519.2px;">
          <div class="single-hero-items set-bg" data-setbg="assets/img/hero-2.jpg"
            style="background-image: url(&quot;assets/img/hero-2.jpg&quot;);">
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore</p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>Sale <span>50%</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class="text">كل اللى تحتاجه لنجاح البيزنس بتاعك</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">

          <div class="card__side card__side--back">
            <div class="card__cover">
              <h4 class="card__heading">
                <span class="card__heading-span">منتجات متوفرة بكميات كبيرة</span>
              </h4>
            </div>

          </div>

          <div class="card__side card__side--front">
            <div class="card__theme">
              <div class="card__theme-box">
                <p class="text" style="color: white !important;font-size: 32px !important;"> مع سوقلي هنوفلك</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">

          <div class="card__side card__side--back">
            <div class="card__cover">
              <h4 class="card__heading">
                <span class="card__heading-span"> متشلش هم توصيل المنتج </span>
              </h4>
            </div>
            <div class="card__details">

            </div>
          </div>

          <div class="card__side card__side--front">
            <div class="card__theme">
              <div class="card__theme-box">
                <p class="text" style="color: white !important;font-size: 32px !important;"> اسرع شحن وتوصيل </p>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">

          <div class="card__side card__side--back">
            <div class="card__cover">
              <h4 class="card__heading">
                <span class="card__heading-span">استلام الأرباح فى نفس اليوم
                </span>
              </h4>
            </div>

          </div>

          <div class="card__side card__side--front">
            <div class="card__theme">
              <div class="card__theme-box">
                <p class="text" style="color: white !important;font-size: 32px !important;"> أرباحك؟ </p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

<section style="margin-top: 15%;">
  <!-- heading -->
  <div class="container">
    <div class="row">
      <div class="mx-auto">

        <div class="col-lg-12">
          <div class="section-title">
            <h2 class=" text-center text">بنوفرلك مميزات ملهاش حصر</h2>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- cards -->
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="col-lg-12">
          <div class="text-center my-3">
            <div class="card-deck no-gutters" style="margin-right: -51px; margin-left: -27px;">

              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card h-100 mb-4">
                  <div class="card-header">
                    <h5 class="card-title m-0 p-0 font-weight-bolder text-secondary text2">وصل أوردراتك مع أكبر شركة شحن

                    </h5>
                  </div>
                  <div class="card-body text-left">
                    <p class="card-text text2">شركة أرامكس هى شريك الشحن الرسمي لتاجرلي، بتضمنلك أعلى نسبة تسليمات
                      لأوردراتك وتتبع سهل ومضمون لطلباتك</p>
                    <span class="font-lead-base font-weight-bold text-muted">20% Off!</span>
                    <div class="promotion-promo">$ 11.5</div>
                    <div class="promotion-price">
                      <div class="promotion-price-desc">Now</div>
                      <div class="promotion-price-text">$ 9.5</div>
                    </div>
                  </div>
                  <div class="card-footer"><a href="#" class="btn btn-warning">Order</a></div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card h-100 mb-4">
                  <div class="card-header">
                    <h5 class="card-title m-0 p-0 font-weight-bolder text-secondary text2">انشئ متجر إلكتروني مجاني مع
                      سوقلي</h5>
                  </div>
                  <div class="card-body text-left">
                    <p class="card-text text2">زود مبيعاتك واكسب ثقة عملائك بأونلاين ستور محترف ببلاش وكمان خصم 30% على
                      كل باقات اكسباند كارت المدفوعة

                    </p>
                    <span class="font-lead-base font-weight-bold text-muted">20% Off!</span>
                    <div class="promotion-promo">$ 22.23</div>
                    <div class="promotion-price">
                      <div class="promotion-price-desc">Now</div>
                      <div class="promotion-price-text">$ 20.23</div>
                    </div>
                  </div>
                  <div class="card-footer"><a href="#" class="btn btn-warning">Order</a></div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card h-100 mb-4">
                  <div class="card-header">
                    <h5 class="card-title m-0 p-0 font-weight-bolder text-secondary text2">نمى مهاراتك أونلاين فى
                      التسويق الإلكتروني
                    </h5>
                  </div>
                  <div class="card-body text-left">
                    <p class="card-text text2">اتعلم كل مهارات البيع والتسويق الالكتروني بـ30 جنيه مع منصة ينفع
                      التعليمية بخصم 70 % على أكتر من 30 كورس محترف

                    </p>
                    <span class="font-lead-base font-weight-bold text-muted">20% Off!</span>
                    <div class="promotion-promo">$ 12.2</div>
                    <div class="promotion-price">
                      <div class="promotion-price-desc">Now</div>
                      <div class="promotion-price-text">$ 10.2</div>
                    </div>
                  </div>
                  <div class="card-footer"><a href="#" class="btn btn-warning">Order</a></div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card h-100 mb-4">
                  <div class="card-header">
                    <h5 class="card-title m-0 p-0 font-weight-bolder text-secondary text2">وفر لعملائك أسرع و أسهل بوابة
                      دفع أونلاين
                    </h5>
                  </div>
                  <div class="card-body text-left">
                    <p class="card-text text2">استقبل مدفوعاتك أونلاين من غير ما تعمل سجل تجارى أو بطاقة ضريبية من خلال
                      لينك هتبعته لعميلك فى رسالة يدفع بيه بأى فيزا.

                      .</p>
                    <span class="font-lead-base font-weight-bold text-muted">20% Off!</span>
                    <div class="promotion-promo">$ 10</div>
                    <div class="promotion-price">
                      <div class="promotion-price-desc">Now</div>
                      <div class="promotion-price-text">$ 8</div>
                    </div>
                  </div>
                  <div class="card-footer"><a href="#" class="btn btn-warning">Order</a></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="py-5 service-24" style="margin-top: 5%;margin-bottom: 7%;">
  <div class="container">
    <!-- Row -->

    <div class="col-lg-12">
      <div class="section-title">
        <h2 class=" text-center text">  ليه سوقلي غير اي   منصة إلكترونية هتقابلك .. ؟
        </h2>
      </div>
    </div>
    <div class="row wrap-service-24">
      <!-- Column -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-shadow border-0 mb-4" style="padding: 3%;">
          <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
            <span class="bg-success-grediant text2">هنسهلك التجارة والبيع أونلاين
            </span>
            <h6 class="ser-title text2" style="font-size: large;line-height: 0.9cm">
              من أول ما تفكر تبدأ لحد ما تعمل أول أوردر وتحقق أول بيعة واحنا معاك .. هتلاقى دليل المستخدم اللى بيقدملك شرح مبسط عن كل صفحة فى تاجرلى تقدر تعمل ايه من خلالها! وبنوفرلك كورسات تعليم تسويق ومتجر إالكترونى مجانى وبوابة دفع إالكترونى من غير سجل تجاري لأول مرة فى مصر.</h6>
          </a>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-shadow border-0 mb-4" style="padding: 3%;">
          <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
            <span class="bg-success-grediant text2">
              ممكن تكسب اد ايه من الشغل فى الدروبشيبنج            </span>
            <h6 class="ser-title text2" style="font-size: large;line-height: 1cm;">
              مفيش حدود للأرباح .. ابدأ دلوقتى وسيب الباقى علينا عايز تعرف ازاى تحقق كل الأرباح دى؟
            </h6>
          </a>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-4 col-md-6">
        <div class="card card-shadow border-0 mb-4" style="padding: 3%;">
          <a href="javascript:void(0)" class="card-hover py-4 text-center d-block rounded">
            <span class="bg-success-grediant text2">هنساعدك تأسس البراند بتاعك
            </span>
            <h6 class="ser-title text2" style="font-size: large; line-height: 1cm;">مش هتلاقى منصة بتديك الفرصة إنك تبنى البيزنس بتاعك وتحدد أرباحك زى ما أنت عايز بدون تقييد غير تاجرلي لأن أغلب المنصات بيدوك عمولة محددة على مبيعاتك وكل مجهودك فى التسويق بيصب فى مصلحتهم</h6>
          </a>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->


    </div>
  </div>
</div>
